@model AgileBookStore.Models.Product
<div class="row">
	<div class="col-md-6 col-lg-7 p-b-30">
		<div class="p-l-25 p-r-30 p-lr-0-lg">
			<div class="wrap-slick3 flex-sb flex-w">
				<div class="wrap-slick3-dots"></div>
				<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

				<div class="slick3 gallery-lb">
					<div class="item-slick3" data-thumb="@Model.imageurl1">
						<div class="wrap-pic-w pos-relative">
							<img src="@Model.imageurl1" alt="IMG-PRODUCT">

							<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.imageurl1">
								<i class="fa fa-expand"></i>
							</a>
						</div>
					</div>

					<div class="item-slick3" data-thumb="@Model.imageurl2">
						<div class="wrap-pic-w pos-relative">
							<img src="@Model.imageurl2" alt="IMG-PRODUCT">

							<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.imageurl2">
								<i class="fa fa-expand"></i>
							</a>
						</div>
					</div>

					<div class="item-slick3" data-thumb="@Model.imageurl3">
						<div class="wrap-pic-w pos-relative">
							<img src="@Model.imageurl3" alt="IMG-PRODUCT">

							<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.imageurl3">
								<i class="fa fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-5 p-b-30">
		<div class="p-r-50 p-t-5 p-lr-0-lg">
			<h4 class="mtext-105 cl2 js-name-detail p-b-14">
				@Model.NameProduct
			</h4>

			<span class="mtext-106 cl2">
				@Model.Price
			</span>

			@foreach(var Category in Model.Categories)
			{
				<span class="mtext-106 cl2">
					@Category
				</span>
			}

			<p class="stext-102 cl3 p-t-23">
				@Model.Author
			</p>

			<!--  -->
			<div class="p-t-33">

				<div class="flex-w flex-r-m p-b-10">
				
					<div class="wrap-num-product flex-w m-r-20 m-tb-10">
						<!-- Decrease -->
						<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
							<i class="fs-16 zmdi zmdi-minus" id="decreaseQuantity"></i>
						</div>

						<!-- Quantity -->
						<input id="quantityInput" class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="1">

						<!-- Increase -->
						<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
							<i class="fs-16 zmdi zmdi-plus" id="increaseQuantity"></i>
						</div>
					</div>

					<input type="hidden" id="idProduct" value="@Model.IdProduct"> 

					<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" id="addToCartButton">
						Add to cart
					</button>

					<button class=" flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
						Buy now
					</button>
				</div>
			</div>

			<div class="flex-w flex-m p-l-100 p-t-40 respon7">
				<div class="flex-m bor9 p-r-10 m-r-11">
					<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
						<i class="zmdi zmdi-favorite"></i>
					</a>
				</div>

				<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
					<i class="fa fa-facebook"></i>
				</a>

				<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
					<i class="fa fa-twitter"></i>
				</a>

				<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
		</div>
	</div>
</div>
@* <!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/slick/slick.min.js"></script>
<script src="~/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/parallax100/parallax100.js"></script>
<script>
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
	$('.gallery-lb').each(function () { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled: true
			},
			mainClass: 'mfp-fade'
		});
	});
</script>
<!--===============================================================================================-->
<script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/sweetalert/sweetalert.min.js"></script>
<script>
	$('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
		e.preventDefault();
	});

	$('.js-addwish-b2').each(function () {
		var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-b2');
			$(this).off('click');
		});
	});

	$('.js-addwish-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-detail');
			$(this).off('click');
		});
	});

	/*---------------------------------------------*/

	$('.js-addcart-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to cart !", "success");
		});
	});

</script>
<!--===============================================================================================-->
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script> *@
<script>
document.getElementById("addToCartButton").addEventListener("click", function() {
	
	var quantity = document.getElementById("quantityInput").value;
	var idProduct = document.getElementById("idProduct").value;

	
	var data = {
		Quantity: quantity,
		IdProduct: idProduct
	};

	fetch('/Product/AddToCart', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify(data)
	})
	.then(response => {
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json();
	})
	.then(data => {
		
		console.log('Add to cart successful');
	})
	.catch(error => {
		
		console.error('There was an error!', error);
	});
});
</script>