@model List<AgileBookStore.Models.Product>
<div class="container">
    <div class="wishlist-title">
        <h2 class="p-2">MY WISHLIST</h2>
    </div>
    <div class="wishlist-table-container">
        <table class="table table-wishlist mb-0">
            <thead>
                <tr>
                    <th class="thumbnail-col"></th>
                    <th class="product-col">Product</th>
                    <th class="price-col">Price</th>
                    <th class="status-col">Stock Status</th>
                    <th class="action-col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr class="product-row" id="product-@product.IdProduct">
                        <td>
                            <div class="how-itemcart1">
                                <img src="@product.imageurl1" alt="product">
                            </div>
                        </td>
                        <td>
                            <h5 class="product-title">
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.IdProduct">@product.NameProduct</a>
                            </h5>
                        </td>
                        <td class="price-box">@product.Price.ToString("N0") VND</td>
                        <td>
                            <span class="stock-status">In stock</span>
                        </td>
                        <td class="action">
                            <button class="btn btn-dark btn-add-cart product-type-simple btn-shop" onclick="deleteFromWishlist(@product.IdProduct)">
                                DELETE
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- End .cart-table-container -->
</div>

<script>
    function deleteFromWishlist(productId) {
        $.ajax({
            type: "POST",
            url: "/Wishlist/DeleteFromWishlist",
            data: { productId: productId },
            success: function (response) {
                // Xóa dòng sản phẩm khỏi bảng sau khi xóa thành công
                $("#product-" + productId).remove();
                swal("Success!", "Product removed from wishlist", "success");
            },
            error: function (xhr, status, error) {
                swal("Error!", xhr.responseText, "error");
            }
        });
    }
</script>
